body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5; 
}

 *{
    box-sizing: border-box;
}


#title {
    font-size: 36px;
    font-weight: bold;
    color: green; 
    margin-left: 40px; 
    margin-top: 170px;
    font-family: sans-serif;
}

.log {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 20px; 
    background-color: white; 
    height: auto;
    
    width: 90%; 
    max-width: 380px; 
    
    text-align: center; 
    
   
    position: fixed;
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
    margin: 0; 
}

#username, #password {
    border-radius: 6px;
    width: 100%; 
    height: 48px;
    margin-bottom: 10px;
    padding: 0 12px;
    border: 1px solid #ddd; 
    font-size: 16px;
}

#login {
    background-color: #1877f2; 
    background-color: #42b72a; 
    width: 100%; 
    height: 48px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

#forgot {
    display: block; 
    text-decoration: none;
    font-size: 14px;
    color:green;
    margin-bottom: 20px;
}

/* Horizontal Rule */
hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

/* Create New Account Button (Blue) */
#new {
    background-color: blue;
    font-size: 17px;
    padding: 12px 16px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: inline-block; 
}


@media screen and (max-width: 800px) {
    
   
    .log {
        top: 50%;
        left: 50%; 
        right: auto;
        
        /* The magic to center it perfectly based on its own size */
        transform: translate(-50%, -50%); 
        
        /* Give it a little breathing room on the smallest screens */
        margin: 20px auto; 
    }
}

fieldset {
    padding: 20px;
    border-radius: 10px;
}
input{
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: large;
}
label{
    display: block;
    font-size: large;
}
#sig {
    background-color: #1877f2; 
    background-color: #42b72a; 
    width: 100%; 
    height: 48px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

#j{
    text-align: center;
    font-weight: bold;
    color: green;
}
legend{
    margin-left: 470px;
    font-weight: bold;
}

html, body {
    height: 100%; 
        margin: 0;
    padding: 0;
}

.iwe {
    font-family: Arial, sans-serif;
    background-color: #222222; 
    color: #e0e0e0;
    line-height: 1.6.;
}

h5{
    text-align: right;
}
#l {
    text-align: center;
}
.reach {
    
}
.why {
    display: block;
}
li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.8em;
}